@mixin card-type($name, $background, $logo) {
  &.system-#{$name} {
    background: $background;

    &::after {
      background: $logo no-repeat center;
    }
  }
}

@mixin card-brand($name, $background, $logo) {
  &.bank-#{$name} {
    background: $background;

    > .card-brand-wrapper > .card-brand {
      background-image: $logo;
    }
  }
}

$bank-card-width: 85.6;
$bank-card-height: 53.98;

.card-base-wrapper {
  width: 100%;
  padding-bottom: ($bank-card-height / $bank-card-width * 100%); /* Bank card size (53.98cm x 85.6cm) */
  position: relative;

  > .card-base {
    padding: 19.3809% 5.3% 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: #{3.48 / $bank-card-width * 100%}/#{3.48 / $bank-card-height * 100%};
    border: 2px dashed #dddfe0;
    transition: .3s ease background;

    &::after {
      right: 0;
      bottom: 0;
      transform-origin: bottom;
      width: 127px;
      height: 81px;
      position: absolute;
      content: "";
      display: block;
    }

    > .card-brand-wrapper {
      position: absolute;
      top: 7.9%;
      left: 7.8%;
      width: 15%;

      > .card-brand {
        position: absolute;
        background-size: cover;
        width: 100%;
        padding-bottom: 100%;
      }
    }

    > .card-number-form {
      margin: 0 0 15px;
      position: relative;
      font-size: 17px;
      width: auto;
      white-space: normal;
      padding: 0;
      border: 2px solid transparent;
      box-sizing: content-box;

      > span {
        position: relative;
        display: block;

        > input {
          width: 100%;
          padding: 0 10px;
          margin: 0;
          height: 42px;
          background: transparent;
          color: black;
          border: none;
          border-bottom: 2px solid #c3c3c3;
          outline: 0;
          display: block;
          resize: none;
          border-radius: 0;
        }
      }
    }

    &.card-branded {
      border-color: transparent;
    }

    @include card-type(visa, #5c5e6b, url("/assets/banks-logo/visa.svg"));
    @include card-type(maestro, #afb6c4, url("/assets/banks-logo/maestro.svg"));
    @include card-type(mastercard, #afb6c4, url("/assets/banks-logo/mastercard.svg"));

    @include card-brand(tinkoff, #FFDD2D, url("/assets/banks-logo/tinkoff.svg"));
    @include card-brand(sberbank, #309C0B, url("/assets/banks-logo/sberbank.svg"));
    @include card-brand(raiffeisen, #FFF300, url("/assets/banks-logo/raiffeisen.svg"));
  }
}