.navbar {
  background: #bfaf80;
}

.btn.btn-primary {
  background: #8c6954;
  border-color: #8c6954;

  &:hover {
    background: #8c6954;
  }

  &:active {
    background: #8c6954;
    border-color: #8c6954;
  }

  &:active:hover {
    border-color: #8c6954;
  }
}

.jumbotron {
  background: #f2eeb3;
  color: #59323c;
}